<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Roomiez :: Home Tour</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">
</head>


<div class="header" style="max-width:100%;overflow:auto;height:auto">

    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png" alt="Roomiez logo"/></a>

    <div class="links" style="max-width:100%;overflow:auto;height:auto">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>
        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>
        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>

    </div>
</div>

<body>
<hr>

<ul>
    <li><a href="/UserHomePage">[[${#httpServletRequest.remoteUser}]]'s Home Page</a></li>
    <li style="float:right">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"></form>
    </li>
</ul>


<div class="homeh1">
    <h1>Find your Roomiez Home Tour Video here!</h1>
</div>



</body>
</html>