
<!DOCTYPE html>
<html>
<head>
    <title>Roomiez :: Searching for Results</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">


    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>



    </div>
</div>
<body>

<hr>

<ul>
    <li><a href="/surveyResults">[[${#httpServletRequest.remoteUser}]]'s Home Page</a></li>
    <li style="float:right"><a href="/logOut">Log Out</a></li>
</ul>

<div class="registrationcontainer">

    <h1>Roomiez Potential Matches</h1>
    <h2> Please Select How You Would Like To Filter Your Results</h2>

    <a href="/SearchByLocation"><img class="searchbuttons1" src="/Images/images/location.png"/></a>
    <a href="/SearchNewMembers"><img class="searchbuttons" src="/Images/images/newmember.png"/></a>
    <a href="/SearchOnline"><img class="searchbuttons1" src="/Images/images/online.png"/></a>
    <a href="/SearchRecommended"><img class="searchbuttons" src="/Images/images/recommended.png"/></a>



    </div>
</body>
</html>
