<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Roomiez :: Registration</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">


    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>



    </div>
</div>
<body>

<hr>

<div class="registrationcontainer">

    <h1>CREATE AN ACCOUNT</h1>

    <form action="#" th:action="@{/Registration}" th:object= "${newUser}" modelAttribute="newUser" method="post">


    <div class="row">
        <div class="column">
            <label>Username:</label><br>
            <input type="text" th:field="*{username}"  placeholder="Enter Username" required>
            <br>
            <br>
            <label>E-mail:</label><br>
            <input type="email" th:field="*{email}" name="email" placeholder="Enter Email Address" required>
            <br>
            <br>
            <label>Password:</label><br>
            <input type="password" th:field="*{password}" name="password" placeholder="Enter a Password" required>
        </div>
        <div class="column">
            <input type="radio"  id="option1" value="Male">Male
            <input type="radio"  id="option2"  value="Female">Female
            <input type="radio"  id="option3" value="Other">Other
            <br>
            <br>
            <br>
            <label>Birthday:</label>

            <input type="date" th:field="*{birthday}" name="birthday">
            <br>
            <br>
        </div>
    </div>



    <br>
    <br>
    <div class="alignbutton">
        <input type="submit" class="regbutton" id="signupbutton" value="Create an Account" align="center">

            </div>
    </form>

        <h2>Click <a th:href="@{/UserHomePage}">here</a> to log in.</h2>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>
</body>
</html>
