<!DOCTYPE html>
<html>
<head>
    <title>Roomiez :: Registration</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">


    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>



    </div>
</div>
<body>

<hr>

<div class="registrationcontainer">

    <h1>CREATE AN ACCOUNT</h1>


    <div class="row">
        <div class="column">
            <br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="Enter Username" required><br>
            <br>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" placeholder="Enter Email Address" required>
            <br>
            <br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Enter a Password" required>

        </div>
        <div class="column">
            <br>
            <input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female
            <input type="radio" name="gender" value="other">Prefer not to say
            <br>
            <br>
            <br>
            <br>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday">
            <br>
            <br>

        </div>
    </div>

    <br>
    <br>
    <div class="alignbutton">
        <input type="submit" class="regbutton" id="signupbutton" value="Create an Account" align="center">
    </div>


        <h2><a href="/LogIn">Already have an account? Log in!</a></h2>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>
</body>
</html>
