<!DOCTYPE html>
<html>
<head>
    <title>Roomiez :: Searching by Recommended</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">

    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>
        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>
        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>

    </div>
</div>


<body>
<hr>
<nav>
    <a href="/SearchByLocation">Search by Location</a>
    <a href="/SearchNewMembers">Search by New Members</a>
    <a href="/SearchOnline">Search by Online Members</a>
    <a href="/SearchRecommended">Search by Recommended Users</a>
</nav>


<div class="registrationcontainer">

    <h1>Roomiez Potential Matches</h1>
    <h2> Viewing Results by Recommended Users</h2>



</div>
</body>
</html>
