<!DOCTYPE html>
<html xmlns:th="http:thymeleaf.org" lang="en">
<head>
    <title>Roomiez :: Searching by Newest Members</title>
    <link rel="stylesheet" href="../Images/stylesheet/style.css">
</head>

<div class="header">


    `<a href="/home"><img class="roomiez" src="../Images/images/Roomiez.png" alt="Roomiez Logo picture"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="../Images/images/facebook.png"
                                                alt="Facebook Logo picture"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="../Images/images/twitter.png"
                                               alt="Twitter Logo picture"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="../Images/images/insta.jpeg"
                                                 alt="Instagram Logo picture"/></a>

    </div>
</div>


<body>
<hr>
<ul>
    <li><a href="/templates/UserHomePage.html"> Home Page</a></li>
    <li><a href="/templates/SearchLocation.html">Search by Location</a></li>
    <li><a href="/templates/SearchNewMember.html">Search by New Members</a></li>
    <li><a href="/templates/SearchOnline.html">Search by Online Members</a></li>
    <li><a href="/templates/SearchRecommended.html">Search by Recommended Users</a></li>
    <li style="float:right"><a href="/logout">Log Out</a></li>
</ul>


<div class="registrationcontainer">

    <h1>Roomiez Potential Matches</h1>
    <h2> Viewing Results by Newest Members</h2>
    <br>
    <br>

    <div class="locationinline">
        <h3>Enter Time Frame to Search:</h3>
    </div>
    <div class="locationinline">
        <form action="#" th:action="@{/SearchNewMembers}" th:object="${newMemberDays}" method="post">
            <p><label>
                <input type="text" th:field="*{newMemberDays}"/>
            </label></p>
        </form>
    </div>
    <div class="locationinline">
        <p><input type="submit" value="Submit"/></p>
    </div>


    <br>
    <br>
    <div class="locationinline"><h3>Search results for users that created an account no more than </h3></div>

    <div class="locationinline">
        <h3><p th:text="${newMemberDays.newMemberDays}"/></h3>
    </div>

    <div class="locationinline"><h3> days ago. </h3></div>


</div>
</body>
</html>
