<!DOCTYPE html>
<html lang="en">
<head>
    <title>Roomiez :: Searching by Online</title>
    <link rel="stylesheet" href="../Images/stylesheet/style.css">
</head>

<div class="header">
    
    `<a href="/home"><img class="roomiez" src="../Images/images/Roomiez.png" alt="Roomiez Logo picture"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="../Images/images/facebook.png"
                                                alt="Facebook Logo picture"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="../Images/images/twitter.png"
                                               alt="Twitter Logo picture"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="../Images/images/insta.jpeg"
                                                 alt="Instagram Logo picture"/></a>

    </div>
</div>


<body>
<hr>
<ul>
    <li><a href="/UserHomePage"> Home Page</a></li>
    <li><a href="/SearchByLocation">Search by Location</a></li>
    <li><a href="/SearchNewMembers">Search by New Members</a></li>
    <li><a href="/SearchOnline">Search by Online Members</a></li>
    <li><a href="/SearchRecommended">Search by Recommended Users</a></li>
    <li style="float:right"><a href="/logOut">Log Out</a></li>
</ul>


<div class="registrationcontainer">

    <h1>Roomiez Potential Matches</h1>
    <h2> Viewing Results by Online Members</h2>
    <br>
    <br>

    <h3>Search results for users that are online now </h3>




</div>
</body>
</html>
