<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>Roomiez :: Searching by Location</title>
    <link rel="stylesheet" href="../Images/stylesheet/style.css">
</head>

<div class="header">


    `<a href="/home"><img class="roomiez" src="../Images/images/Roomiez.png" alt="Roomiez Logo picture"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="../Images/images/facebook.png"
                                                alt="Facebook Logo picture"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="../Images/images/twitter.png"
                                               alt="Twitter Logo picture"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="../Images/images/insta.jpeg"
                                                 alt="Instagram Logo picture"/></a>

    </div>
</div>


<body>
<hr>
<ul>
    <li><a href="/templates/UserHomePage.html"> Home Page</a></li>
    <li><a href="/templates/SearchLocation.html">Search by Location</a></li>
    <li><a href="/templates/SearchNewMember.html">Search by New Members</a></li>
    <li><a href="/templates/SearchOnline.html">Search by Online Members</a></li>
    <li><a href="/templates/SearchRecommended.html">Search by Recommended Users</a></li>

</ul>


<div class="registrationcontainer">

    <h1>Roomiez Potential Matches</h1>
    <h2> Viewing Results by Location</h2>
    <br>
    <br>

    < class="locationinline">
    <h3>Enter Radius to Search in Miles: </h3>>
    < class="locationinline">
    <form action="#" th:action="@{/SearchByLocation}" th:object="${radius}" method="post">
        <p>
            <label>
                <input type="text" th:field="*{radius}"/>
            </label>
        </p>
        <div class="locationinline">
            <p><input type="submit" value="Submit"/></p></div>
    </form>


    <br>
    <br>
    <div class="locationinline"><h3>Search results for users that are</h3></div>

    <div class="locationinline">
        <h3><p th:text="${radius.radius}"/></h3>
    </div>

    <div class="locationinline"><h3> miles from your location </h3></div>


</div>
</body>
</html>
