<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Roomiez :: Searching by Online</title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">

    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png" alt="Roomiez logo"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png" alt="Facebook logo"/></a>
        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png" alt="Twitter logo"/></a>
        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg" alt="Instagram logo"/></a>

    </div>
</div>


<body>
<hr>
<ul>
    <li><a href="/UserHomePage">[[${#httpServletRequest.remoteUser}]]'s Home Page</a></li>
    <li><a href="/PotentialMatches">Search for Matches</a></li>
    <li><a href="/ChatHomePage">Chat with Roomiez</a></li>
    <li><a href="/Settings">Help Bar</a></li>
    <li><a href="/UploadHomeTour">Upload Home Tour</a></li>
    <li style="float:right"><form th:action="@{/logout}" method="post"><input type="submit" value="Log Out"/></li>
</ul>
<div class="row">
    <div class="q-column">
        <p>Current Username: [[${#httpServletRequest.remoteUser}]]</p>
        <p>Current Email Address: </p>
    </div>
</div>
<h2>Update Profile</h2>
<div class="registrationcontainer">
    <div class="row">
        <div class="q-column">
            <div class="logintext">

                <input type="text" name="updateUsername"  placeholder="Update Username"><br>
                <br>
                <input type="password" name="updatePassword" placeholder="Update Password"><br>
                <br>
                <input type="email" name="updateEmail" placeholder="Update Email Address "><br>
                <br>
                <input type="text" name="Profession"  placeholder="Enter Profession (ex: Student, Server, etc.)"><br>
                <br>
                <input type="date" name="birthDate" placeholder="Enter Birth Date" required><br>
                <br>
                
            </div>
        </div>
    </div>
</div>
<div class="alignbutton">
    <input type="submit" class="regbutton" id="signupbutton" value="Update Profile" align="center">
</div>
<h2>Personality Survey</h2>
<div class="registrationcontainer" >
    <div class="row">
        <div class="q-column">

            <label>What describes you?:</label><br>
            <input type="radio" name="desc" value="mostlyint">Mostly Introverted<br>
            <input type="radio" name="desc" value="someint">Somewhat Introverted<br>
            <input type="radio" name="desc" value="someext">Somewhat Extroverted<br>
            <input type="radio" name="desc" value="mostlyext">Mostly Extroverted<br>
            <br>
            <label>Do you prefer your roommate to be extroverted or introverted?:</label><br>
            <input type="radio" name="prefdesc" value="int">Introverted<br>
            <input type="radio" name="prefdesc" value="ext">Extroverted<br>
            <br>
            <label>How often do you invite friends over?</label><br>
            <input type="radio" name="friends" value="n-often">Not often (0-1 days a week)<br>
            <input type="radio" name="friends" value="s-often">Somewhat often (2-3 days a week)<br>
            <input type="radio" name="friends" value="p-often">Pretty often (4-5 days a week)<br>
            <input type="radio" name="friends" value="v-often">Very often (6+ days a week)<br>
            <br>
            <label>What are your cleaning habits?</label><br>
            <input type="radio" name="cleanliness" value="v-dirty">Very dirty<br>
            <input type="radio" name="cleanliness" value="s-dirty">Somewhat dirty<br>
            <input type="radio" name="cleanliness" value="middle">Middle of clean and dirty<br>
            <input type="radio" name="cleanliness" value="s-clean">Somewhat clean<br>
            <input type="radio" name="cleanliness" value="v-clean">Very clean<br>
            <br>
            <label>Do you smoke?</label><br>
            <input type="radio" name="smoke" value="y-smoke">Yes
            <input type="radio" name="smoke" value="n-smoke">No
            <br>
            <br>
            <label>Do you care if your roommate smokes?</label><br>
            <input type="radio" name="prefsmoke" value="y-prefsmoke">Yes
            <input type="radio" name="prefsmoke" value="y-prefsmoke">No
            <br>
            <br>
            <label>Do you drink?</label><br>
            <input type="radio" name="drink" value="y-drink">Yes
            <input type="radio" name="drink" value="n-drink">No
            <br>
            <br>
            <label>Do you care if your roommate drinks?</label><br>
            <input type="radio" name="prefdrink" value="y-prefdrink">Yes
            <input type="radio" name="prefdrink" value="n-prefdrink">No
            <br>
            <br>
            <label>What is your sleep schedule like?</label><br>
            <input type="radio" name="sleep" value="v-early">Early Riser<br>
            <input type="radio" name="sleep" value="s-early">Somewhat of an Early Riser<br>
            <input type="radio" name="sleep" value="s-late">Somewhat of a Late Riser<br>
            <input type="radio" name="sleep" value="v-late">Late Riser<br>
            <br>
            <label>What are your cooking habits like?</label><br>
            <input type="radio" name="eating" value="a-cook">Always cook at home<br>
            <input type="radio" name="eating" value="m-cook">Mostly cook at home<br>
            <input type="radio" name="eating" value="m-cook">Mostly eat out<br>
            <input type="radio" name="eating" value="a-cook"> Always eat out<br>
            <br>

        </div>
        <div class="q-column">
            <label>What genres of music do you listen to?</label><br>
            <input type="checkbox" name="music" value="jazz">Jazz<br>
            <input type="checkbox" name="music" value="folk">Folk Music<br>
            <input type="checkbox" name="music" value="hhrap">Hip Hop/rap<br>
            <input type="checkbox" name="music" value="kpop">K-Pop<br>
            <input type="checkbox" name="music" value="blues">Blues<br>
            <input type="checkbox" name="music" value="pop">Pop<br>
            <input type="checkbox" name="music" value="country">Country<br>
            <input type="checkbox" name="music" value="reggae">Reggae<br>
            <input type="checkbox" name="music" value="rock">Rock<br>
            <input type="checkbox" name="music" value="randblues">Rhythm and Blues<br>
            <input type="checkbox" name="music" value="punk">Punk Rock<br>
            <input type="checkbox" name="music" value="classical">Classical<br>
            <input type="checkbox" name="music" value="disco">Disco<br>
            <input type="checkbox" name="music" value="hmetal">Heavy metal<br>
            <input type="checkbox" name="music" value="funk">Funk<br>
            <input type="checkbox" name="music" value="techno">Techno<br>
            <input type="checkbox" name="music" value="opera">Opera<br>
            <input type="checkbox" name="music" value="gospel">Gospel<br>
            <input type="checkbox" name="music" value="other">Other (specify)<br>
            <br>

            <label>Do you have pets?</label><br>
            <input type="radio" name="pets" value="y-pets">Yes
            <input type="radio" name="pets" value="n-pets">No
            <br>
            <br>
            <label>Do you work from home?</label><br>
            <input type="radio" name="pets" value="y-pets">Always<br>
            <input type="radio" name="pets" value="y-pets">Sometimes<br>
            <input type="radio" name="pets" value="y-pets">Never<br>
            <br>

            <label>What are your pet peeves?</label><br>
            <input type="text"  name="petpeeves" placeholder="Pet peeves....">
            <br>
            <br>
            <label>Are you looking for anything else specific in a roommate?</label><br>
            <input type="text" name="extra" placeholder="Anything else....">
            <br>

        </div>
    </div>
</div>
</body>
</html>
