<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Roomiez :: Welcome Home </title>
    <link rel="stylesheet" href="../Images/stylesheet/style.css">
</head>

<div class="header">


    `<a href="/home"><img class="roomiez" src="../Images/images/Roomiez.png" alt="Roomiez Logo picture"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="../Images/images/facebook.png"
                                                alt="Facebook Logo picture"/></a>

        <a href="https://www.twitter.com"><img class="twitter" src="../Images/images/twitter.png"
                                               alt="Twitter Logo picture"/></a>

        <a href="https://www.instagram.com"><img class="insta" src="../Images/images/insta.jpeg"
                                                 alt="Instagram Logo picture"/></a>

    </div>
</div>

<body>
<hr>
<ul>
    <li><a href="/UpdateUserProfile">Edit Profile</a></li>
    <li><a href="/PotentialMatches">Search for Matches</a></li>
    <li><a href="/ChatHomePage">Chat with Roomiez</a></li>
    <li><a href="/Settings">Settings</a></li>

    <li style="float:right"><form th:action="@{/logout}" method="post"><input type="submit" value="Log Out"/></li>
</ul>



<div class="registrationcontainer">

    <h1>Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>Find Your Roomie Today!</h2>



</div>
</body>
</html>
