<!DOCTYPE html>
<html>
<head>
    <title>Roomiez :: Welcome {User} </title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header">

    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png"/></a>

    <div class="links">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>
        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>
        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>

    </div>
</div>


<body>
<hr>
<nav>
    <a href="/home">Home</a>
    <a href="/editProfile">Edit Profile</a>
    <a href="/PotentialMatches">Search for Matches</a>
    <a href="/ChatFeature">Chat with Roomiez</a>
    <a href="/Settings">Settings</a>
    <a href="/logOut">Log Out</a>
</nav>


<div class="registrationcontainer">

    <h1>Welcome {User}</h1>
    <h2>Find Your Roomie Today!</h2>



</div>
</body>
</html>
