<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Roomiez :: Welcome Home </title>
    <link rel="stylesheet" href="/Images/stylesheet/style.css">

</head>

<div class="header"style="max-width:100%;overflow:auto;height:auto">

    <a href="/home"><img class="roomiez" src="/Images/images/Roomiez.png" alt="Roomiez logo"/></a>

    <div class="links" style="max-width:100%;overflow:auto;height:auto">
        <a href="https://www.facebook.com"><img class="facebook" src="/Images/images/facebook.png"/></a>
        <a href="https://www.twitter.com"><img class="twitter" src="/Images/images/twitter.png"/></a>
        <a href="https://www.instagram.com"><img class="insta" src="/Images/images/insta.jpeg"/></a>

    </div>
</div>


<body>
<hr>
<ul>
    <li><a href="/UpdateUserProfile">Edit Profile</a></li>
    <li><a href="/PotentialMatches">Search for Matches</a></li>
    <li><a href="/ChatHomePage">Chat with Roomiez</a></li>
    <li><a href="/Settings">Help Bar</a></li>
    <li style="float:right"><form th:action="@{/logout}" method="post"><input type="submit" value="Log Out"/></li>
</ul>



<div class="registrationcontainer">

    <h1>Welcome [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>Find Your Roomie Today!</h2>



</div>
</body>
</html>
